---
name: Auto Tag
on:
  issue_comment:
    types: [created, edited]

# run only one unit test for a branch / tag.
concurrency:
    group: bot-add-tag-${{ github.ref }}
    cancel-in-progress: true

jobs:
    add-label-by-comment:
        # if: contains(github.event.comment.body, '/tag-run-lint')
        if: >
          github.event.issue.pull_request &&
          (contains(github.event.comment.body, '/tag-run-lint') ||
           contains(github.event.comment.body, '/tag-and-rerun-ci'))
        runs-on: ubuntu-latest
        permissions:
            pull-requests: write
        steps:
            - name: Add lint wanted label
              uses: actions-ecosystem/action-add-labels@v1
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  labels: lint wanted
